
/* Agrega el estilo para el video como fondo */
/* Estilos para el video de fondo */
/* Estilos para el video de fondo */
video {
  z-index: -1;
  position: fixed; /* Cambiamos 'absolute' a 'fixed' */
  top: 0;
  left: 0;
  width: 100%; /* Establecemos un ancho del 100% para cubrir todo el ancho del viewport */
  height: 100%; /* Establecemos una altura del 100% para cubrir todo el alto del viewport */
  object-fit: cover; /* Mantenemos la relación de aspecto */
}

/* Estilos adicionales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* También es posible añadir un color de fuente y un margen para separar el contenido del video */
  color: white;
  margin-top: 20px;
}


.container {
  position: relative;
}

#titulo {
  font-size: 2.5rem;
}

/* Estilos para el formulario */
#formulario {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

#resultado {
  text-align: center;
  margin-top: 20px;
  color: white;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right center;
  padding-right: 25px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0a3378;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Media query para la versión móvil */
@media screen and (max-width: 600px) {
  #formulario {
    max-width: 100%;
    padding: 10px;
  }
#logo{
  width: 50vw;
  height: auto;
}
}
